.fight{
    width: 100vh;
    display: inline-block;
    margin: 15px;
}
.betContainer, .centerSpinner, .box{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centerSpinner{
    height: 50vh;
}
#event{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}
.box{
    margin-top: 0;
    padding: 2em;
    padding-bottom: 1.1em;
    margin-bottom: 1.1em;
    padding: 0;
}
#eventPic{
    margin-bottom: 0;
}

.modal-open[style] {
    padding-right: 0px !important;
    }
#confirmed{
    margin-top: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#pickScore{
    color:white;
    margin-right: 10px;
}
#confirmation, h5.pick{
    color: white;
    margin-left: 1.1em;
}
#separator{
    margin-bottom: 10px;
}
#help, #score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}
#click{
    margin-left: 1.1em;
}
.progressBar{
    width: 10%;
    height: auto;
}
