.fight{
    width: 100vh;
    display: inline-block;
    margin: 15px;
}
.betContainer, .centerSpinner, .box{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.eventTitle{
    margin-bottom: 1.1em;
}
.box{
    margin-top: 0;
    padding: 2em;
    padding-bottom: 1.1em;
    margin-bottom: 1.1em;
    padding: 0;
}
