h1, h3{
    color: white;
}
.streams{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    row-gap: 30px;
    margin-bottom: 3em;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
a.streamA{
    padding: 1.05em;
    text-decoration: none;
    color: #212428;
    transition: 0.2s;
}
a.streamA:hover{
    text-decoration: none;
    background-color: rgb(19, 24, 24);
    color: white;
}